@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    height: 100vh;
    width: 100%;
    background-color: #E5E5E5;
}

/*conteiner principal*/

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 80px;
}

/*Section*/
.content section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 40px;
    margin: 20px;
}

.content textarea {
    margin: 5rem 0;
    width: 80%;
    height: 56px;
    border: none;
    background-color: transparent;
}

::-webkit-input-placeholder {
    color: #0A3871;
    font-size: 32px
}

input:-moz-placeholder {
    color: #0A3871;
    font-size: 32px
}

textarea:-moz-placeholder {
    color: #0A3871;
    font-size: 32px
}

.actions {
    margin-top: 150px;
}

.actions button {
    width: 15rem;
    height: 67px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    border: none
}

.actions button:nth-child(1) {
    background-color: #0A3871;
    color: white;
}

.actions button:nth-child(2) {
    background-color: #D8DFE8;
    color: #0A3871;
}

/*Aside*/

.content aside {
    width: 30%;
    height: 90vh;
    border: none;
    background-color: white;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.4);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content aside img {
    width: 336px;
    height: 304px;
}

.content h3,
p {
    text-align: center;
    padding: 5px 2px;
}

.content span {
    font-weight: 700;
    font-size: 24px;
    margin: 2px
}

.content p {
    font-weight: 400;
    font-size: 16px;
}

/*responsividade 770px*/

@media screen and (max-width: 770px) {
    .content {
        flex-direction: column;
    }

    .content aside {
        width: 80%;
        height: 150px;
    }

    .content aside img{
        display: none;
    }
}

/*responsividade 380px*/

@media screen and (max-width: 380px) {
    .content aside {
        width: 94%;
        height: 120px;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    .actions button {
        margin: 10px
    }
}